/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 0;
  padding: 0;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes hover-efect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes hover-efect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.page-header, .footer, .hero, .features, .activity, .team, .regulars, .backdrop, .filters, .project {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .page-header, .footer, .hero, .features, .activity, .team, .regulars, .backdrop, .filters, .project {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header, .footer, .hero, .features, .activity, .team, .regulars, .backdrop, .filters, .project {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .page-header, .footer, .hero, .features, .activity, .team, .regulars, .backdrop, .filters, .project {
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;
  }
}

.list {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 0.03em;
}

.logo span {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.icon-close,
.icon-open {
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.button-menu .icon-close {
  display: none;
}

.button-menu:hover use {
  fill: #2196f3;
}

.button-menu.is-open .icon-close {
  display: block;
}

.button-menu.is-open .icon-open {
  display: none;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  line-height: 30px;
}

.button.primary:hover, .button.primary:focus, .button.primary:visited, .button.primary:active {
  background-color: #188ce8;
}

.button.secondary {
  line-height: 26px;
  background-color: #f5f4fa;
  color: #212121;
}

.button.secondary:hover, .button.secondary:focus, .button.secondary:visited, .button.secondary:active {
  background-color: #2196f3;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .page-header .nav {
    height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .page-header .menu {
    display: none;
    z-index: 99;
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .page-header .menu.is-open {
    display: block;
  }
  .page-header .menu-list .menu-item {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }
  .page-header .menu-list .menu-item:not(:first-child) {
    margin-top: 40px;
  }
  .page-header .menu-addres {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-top: 60px;
  }
  .page-header .menu-addres .menu-item:not(:first-child) {
    margin-top: 16px;
  }
  .page-header .menu-addres .menu-item .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .page-header .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header .nav .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 88px;
    margin-left: 88px;
  }
  .page-header .nav .menu-list .menu-item:not(:first-child) {
    margin-left: 50px;
  }
  .page-header .nav .menu-list .menu-item .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  .page-header .nav .menu-addres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-header .nav .menu-addres .menu-item:not(:first-child) {
    margin-top: 10px;
  }
  .page-header .nav .menu-addres .menu-item .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: end;
  }
  .page-header .nav .button-menu {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .page-header .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header .nav .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 305px;
  }
  .page-header .nav .menu-list .menu-item:not(:first-child) {
    margin-left: 50px;
  }
  .page-header .nav .menu-list .menu-item .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  .page-header .nav .menu-addres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-header .nav .menu-addres .menu-item:first-child {
    margin-right: 30px;
  }
  .page-header .nav .menu-addres .menu-item .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: end;
  }
  .page-header .nav .button-menu {
    display: none;
  }
}

.menu-list .menu-item .link {
  color: #212121;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list .menu-item .link:hover {
  color: #2196f3;
}

.menu-list .menu-item .current {
  color: #2196f3;
}

.menu-list .menu-item .current::after {
  content: " ";
  margin-top: 8px;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-list .menu-item .current::after {
    position: relative;
    margin: 0;
    top: 35px;
  }
}

.menu-addres .menu-item .link {
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.menu-addres .menu-item .link:hover {
  color: #2196f3;
}

.menu-addres .menu-item .link .icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: #2f303a;
}

.footer .logo {
  display: block;
  color: #ffffff;
  text-align: center;
}

.footer-localization {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts {
  margin-top: 8px;
}

.footer-contacts a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
}

.footer-contacts a:not(:first-child) {
  margin-top: 8px;
}

.footer-social {
  margin-top: 60px;
}

.footer-social .title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail {
  margin-top: 60px;
}

.footer-mail .title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-mail button {
  margin-top: 20px;
}

.footer-mail button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/icon/send.svg);
  background-position: center;
  background-size: contain;
}

.footer-social .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social .icon-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .icon-list li:hover {
  background-color: #2196f3;
}

.footer-social .icon-list li .icon-soc {
  fill: #ffffff;
}

.footer-social .icon-list li:not(:first-child) {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 76px;
    padding-right: 76px;
  }
  .footer-social {
    margin-top: 0;
  }
  .footer-mail input {
    width: 450px;
    display: block;
  }
}

@media screen and (min-width: 1600px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-box {
    padding: 0;
  }
  .footer-mail {
    margin: 0;
  }
  .footer .footer-social {
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer .footer-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer-mail .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer-mail .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer-mail .footer-form input {
    width: 358px;
  }
  .footer .footer-mail .footer-form .footer-btn {
    padding: 0;
    margin-left: 12px;
  }
}

.hero {
  display: block;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  height: 400px;
  background-image: url(/img/banner-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/img/banner-768.jpg);
  }
}

@media screen and (min-width: 1600px) {
  .hero {
    height: 600px;
    background-image: url(/img/banner-1600.jpg);
  }
}

.hero-text {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .features .list-item:not(:first-child) {
    margin-top: 30px;
  }
}

.features .list-item::before {
  content: " ";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-antenna::before {
  background-image: url(../img/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../img/svg/astronaut.svg);
}

.features .title {
  padding-top: 30px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

.features .content {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .features .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .features .list-item {
    display: block;
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  .features .title {
    text-align: start;
  }
}

@media screen and (min-width: 1600px) {
  .features .list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1599px) {
  .activity {
    display: none;
  }
}

.activity-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding-bottom: 94px;
}

.activity-list .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 370px;
  height: 294px;
}

.activity-list .post .text {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.activity-list .post:not(:first-child) {
  margin-left: 30px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team-title {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #212121;
}

.team-card {
  margin-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card .team-img {
  width: 100%;
  height: auto;
}

.team-card .team-member-name {
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #212121;
}

.team-card .team-prof {
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}

.icon-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.icon-soc-list .icon-soc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-soc-list .icon-soc-item:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.icon-soc-list .icon-soc-item:hover .item .icon {
  fill: #ffffff;
}

.icon-soc-list .icon-soc-item:not(:first-child) {
  margin-left: 10px;
}

.icon-soc-list .icon-soc-item .item .icon {
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    padding-top: 30px;
  }
  .team-list .team-card {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
    padding-top: 50px;
  }
}

.regulars {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1600px) {
  .regulars {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.regulars-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #212121;
}

.regulars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.regulars-list .link {
  width: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regulars-list .link .link-box {
  position: relative;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 210px;
  height: 90px;
  color: #afb1b8;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regulars-list .link .link-box:hover {
  color: #2196f3;
  border-color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.regulars-list .link .link-box .icon-item {
  fill: currentColor;
}

.regulars-list .link .link-box .icon-item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .regulars-list .link {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1600px) {
  .regulars-title {
    margin-bottom: 50px;
  }
  .regulars-list .link {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.backdrop {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding-top: 93px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 481px) {
  .backdrop {
    padding-top: 208px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.modal .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.modal .close .icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close:hover .icon {
  fill: #2196f3;
}

.form {
  padding: 40px;
}

.form-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.form-input {
  margin-top: 4px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #2196f3;
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form .comment {
  margin-top: 4px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline-color: #2196f3;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form .comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form .checkbox-input:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../img/icon/checkbox-icon.svg);
  background-size: contain;
  background-origin: border-box;
}

.form .checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form .checkbox-span {
  margin-left: 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.form .checkbox-span a {
  text-decoration: underline;
  color: #2196f3;
}

.button.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.form-btn:hover {
  background-color: #188ce8;
}

.filters {
  padding-top: 60px;
  padding-bottom: 40px;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters-btn {
  margin: 8px;
  margin-left: 0;
}

.filters-btn .button {
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
}

.filters-btn .button:hover, .filters-btn .button:active, .filters-btn .button:focus {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .filters .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project {
  margin-top: 40px;
  margin-bottom: 60px;
}

.project .list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .list .link {
  margin-bottom: 30px;
}

@media screen and (mix-width: 480px) {
  .project .list .link {
    width: 450px;
  }
}

.project .list .link:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-box {
  display: inline-block;
}

.project-box:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-box .hover-efect {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.project-box .hover-efect .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-box .hover-efect .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  background-color: rgba(33, 150, 243, 0.9);
}

.project-box .hover-efect .overlay .hover-text {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.project-box .box-border {
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.project-box .box-border .title {
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}

.project-box .box-border .text {
  padding-left: 24px;
  padding-bottom: 20px;
  margin: 0;
  margin-top: 4px;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .project .list {
    margin: -15px;
  }
  .project .list .link {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .project .list .link {
    width: calc((100% - 3 * 30px) / 3);
  }
}
/*# sourceMappingURL=main.css.map */