.features {
  @extend %container;
  margin-top: 60px;
  @media screen and(min-width:480px) {
    width: 480px;
  }
}

.features .list-item {
  &:not(:first-child) {
    margin-top: 30px;
  }
  &::before {
    content: " ";
    display: block;
    height: 120px;
    // width: 450px;
    background-color: tomato;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-color;
  }
}

.icon-antenna::before {
  background-image: url(../img/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../img/svg/astronaut.svg);
}

.features {
  .title {
    padding-top: 30px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
  }
  .content {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $text-color;
  }
}
