.features {
  @extend %container;
  padding-top: 60px;
  padding-bottom: 60px;
}

.features .list-item {
  @media screen and(max-width:767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &::before {
    content: " ";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-color;
  }
}

.icon-antenna::before {
  background-image: url(../img/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../img/svg/astronaut.svg);
}

.features {
  .title {
    padding-top: 30px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
  }
  .content {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $text-color;
  }
}

@media screen and (min-width: 768px) {
  .features .list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    &-item {
      display: block;
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }
  .features .title {
    text-align: start;
  }
}
@media screen and (min-width: 1600px) {
  .features .list {
    flex-wrap: nowrap;
  }
}
