.hero {
  @extend %container;
  display: block;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  height: 400px;
  background-image: url(../img/banner-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-image: url(../img/banner-768.jpg);
  }
  @media screen and (min-width: 1600px) {
    height: 600px;
    background-image: url(../img/banner-1600.jpg);
  }

  &-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
  }
  &-btn {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }
}

// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;

//   background-color: rgba(47, 48, 58, 0.8);
//   &-text {
//     margin-top: 0;
//     margin-bottom: 0;

//     font-weight: bold;
//     font-size: 44px;
//     line-height: 60px;

//     text-align: center;
//     text-transform: uppercase;

//     color: #fff;
//   }
//   &-btn {
//     margin-top: 30px;

//     display: flex;
//     justify-content: center;
//   }
// }
