.footer {
  //   padding-top: 60px;
  @extend %container;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  background: #2f303a;
  // @media screen and(min-width:480px) {
  //   width: 480px;
  // }
}
.footer {
  .logo {
    display: block;
    color: #ffffff;
    text-align: center;
  }
  &-localization {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }
  &-contacts {
    margin-top: 8px;
    a {
      display: block;
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
      line-height: 24px;
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
  &-social {
    margin-top: 60px;
    .title {
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  &-mail {
    margin-top: 60px;
    .title {
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

.footer-mail {
  input {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);

    align-items: center;
  }
  button {
    margin-top: 20px;
    &::after {
      content: "";
      width: 24px;
      height: 24px;
      margin-left: 10px;

      background-image: url(../img/icon/send.svg);
      background-position: center;
      background-size: contain;
    }
  }
}

.footer-social .icon-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: $accent-color;
    }
    .icon-soc {
      fill: #ffffff;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &-box {
      display: flex;
      justify-content: space-between;
      padding-left: 76px;
      padding-right: 76px;
    }
  }
  .footer-social {
    margin-top: 0;
  }
  .footer-mail {
    input {
      width: 450px;
      display: block;
    }
  }
}
@media screen and (min-width: 1600px) {
  .footer {
    display: flex;
    flex-direction: row;
    &-box {
      padding: 0;
    }
    &-mail {
      margin: 0;
    }
  }
  .footer .footer-social {
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer .footer-mail {
    display: flex;
    .title {
      display: flex;
    }
    .footer-form {
      display: flex;
      input {
        width: 358px;
      }
      .footer-btn {
        padding: 0;
        margin-left: 12px;
      }
    }
  }
}

//   background-color: #2f303a;
//   color: #ffffff;
//   .flexbox {
//     justify-content: space-between;
//   }
// }

// .footer-adres {
//   .logo a {
//     color: #ffffff;
//   }
//   .footer-localization {
//     margin-top: 20px;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 24px;
//   }
//   .footer-contacts {
//     margin-top: 9px;
//     a {
//       display: block;
//       font-weight: normal;
//       font-size: 14px;
//       line-height: 24px;
//       color: rgba(255, 255, 255, 0.6);
//     }
//     a:last-child {
//       padding-top: 9px;
//       padding-bottom: 60px;
//     }
//   }
// }
// .footer-social {
//   margin-left: 69px;
//   b {
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 16px;
//     text-transform: uppercase;
//   }
//   .list {
//     display: flex;
//     margin-top: 20px;
//     .link {
//       display: flex;
//       width: 44px;
//       height: 44px;
//       align-items: center;
//       justify-content: center;
//       border-radius: 50%;
//       background-color: rgba(255, 255, 255, 0.1);
//       transition: 250ms;
//       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// .icon-soc {
//   width: 20px;
//   height: 20px;
//   fill: #ffffff;
// }
// &:hover {
//   background-color: $accent-color;
//   transform: scale(1.25);
// }
//     }
//   }
// }
// .footer-social li:not(:first-child) {
//   margin-left: 10px;
// }
// .footer-e-mail {
//   margin-left: 94px;
//   b {
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 16px;
//     text-transform: uppercase;
//   }
// }
// .footer-btn {
//   margin-top: 20px;
//   &::after {
//     content: "";
//     width: 24px;
//     height: 24px;
//     margin-left: 10px;

//     background-image: url(../img/icon/send.svg);
//     background-position: center;
//     background-size: contain;
//   }
// }
