.regulars {
  @extend %container;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1600px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.regulars {
  &-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 33px;

    text-align: center;
    color: $title-color;
  }
}

.regulars-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  //   width: 480px;
  .link {
    width: calc((100% - 2 * 30px) / 2);
    height: 90px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    .link-box {
      position: relative;
      border: 1px solid #afb1b8;
      box-sizing: border-box;
      border-radius: 4px;
      width: 210px;
      height: 90px;
      color: #afb1b8;
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        color: $accent-color;
        border-color: $accent-color;
        transform: scale(1.1);
      }
      .icon-item {
        fill: currentColor;
      }
      .icon-item {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .regulars-list .link {
    width: calc((100% - 3 * 30px) / 3);
  }
}
@media screen and (min-width: 1600px) {
  .regulars-title {
    margin-bottom: 50px;
  }

  .regulars-list .link {
    width: calc((100% - 6 * 30px) / 6);
  }
}
// .regulars {
//   padding-bottom: 94px;
//   padding-top: 94px;
//   &-title {
//     margin-top: 0;
//     margin-bottom: 0;
//     font-weight: bold;
//     font-size: 36px;
//     line-height: 42px;
//     text-align: center;
//   }
//   &-list {
//     display: flex;
//     margin-top: 50px;
//   }
// }
// .regulars-list .link {
//   &:not(:first-child) {
//     margin-left: 30px;
//   }
//   .link-box {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 170px;
//     height: 90px;
//     border: 1px solid #afb1b8;
//     border-radius: 4px;
//     color: #afb1b8;
//     transition: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover {
//       color: $accent-color;
//       border-color: $accent-color;
//       transform: scale(1.25);
//     }
//     .icon-item {
//       fill: currentColor;
//     }
//   }
// }
