.team {
  @extend %container;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-color;
}
.team-title {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: $title-color;
}
.team-card {
  margin-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  .team-img {
    // padding-top: 30px;
    width: 100%;
    height: auto;
  }
  .team-member-name {
    margin-top: 30px;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    color: $title-color;
  }
  .team-prof {
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    color: $text-color;
  }
}

.icon-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  .icon-soc-item {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    // background-color: cyan;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $accent-color;
      color: #ffffff;
      .item .icon {
        fill: #ffffff;
      }
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
    .item {
      .icon {
        fill: #afb1b8;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .team {
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      padding-top: 30px;

      .team-card {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
      }
    }
  }
}
@media screen and (min-width: 1600px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    &-list {
      flex-wrap: nowrap;
      margin: 0;
      padding-top: 50px;
    }
  }
}
// .team {
//   background-color: #f5f4fa;
//   .team-title {
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-top: 94px;
//     font-weight: bold;
//     font-size: 36px;
//     line-height: 42px;
//     text-align: center;
//   }
//   .team-list {
//     margin-top: 50px;
//     padding-bottom: 94px;
//   }
//   .link:not(:first-child) {
//     padding-left: 10px;
//   }
// }

// .team-card {
//   background-color: #ffffff;
//   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 1px 3px rgba(0, 0, 0, 0.12);
//   border-radius: 0px 0px 4px 4px;
//   .team-member-name {
//     margin-top: 30px;
//     margin-bottom: 0;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 19px;
//     text-align: center;
//   }
//   .team-prof {
//     margin-top: 10px;
//     margin-bottom: 0;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 19px;
//     text-align: center;
//     color: $text-color;
//   }
// .icon-soc-list {
//   display: flex;
//   justify-content: space-around;
//   padding-top: 28px;
//   padding-left: 32px;
//   padding-right: 32px;
//   margin-bottom: 36px;
//   .item {
//     display: flex;
//     width: 44px;
//     height: 44px;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     align-items: center;
//     background-size: contain;
//     background-position: bottom;
//     color: #afb1b8;
//     transition: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover {
//       background-color: $accent-color;
//       color: #ffffff;
//       transform: scale(1.25);
//     }
//     .icon-soc-link {
//       fill: currentColor;
//     }
//   }
// }
// }
// .team-card:not(:first-child) {
//   margin-left: 30px;
// }
