//конпка мобильного меню
.icon-close,
.icon-open {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-menu {
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  .icon-close {
    display: none;
  }
  &:hover {
    use {
      fill: $accent-color;
    }
  }
}
.button-menu.is-open .icon-close {
  display: block;
}
.button-menu.is-open .icon-open {
  display: none;
}
//
.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;

  text-align: center;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  line-height: 30px;
  &:hover,
  &:focus,
  &:visited,
  &:active {
    background-color: #188ce8;
  }
}
.button.secondary {
  line-height: 26px;
  background-color: $bg-color;
  color: $title-color;
  &:hover,
  &:focus,
  &:visited,
  &:active {
    background-color: $accent-color;
  }
}
