body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
h2,
h3 {
  margin: 0;
  padding: 0;
  color: $title-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
@keyframes hover-efect {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

%container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
}

.list {
  margin: 0;
  padding: 0;
}

//hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%text-menu {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}
